
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Fusion</title>
  <link rel="icon" href="favicon.ico" />

  <style>
    .dataTables_empty {
      display: none;
    }
  </style>
</head>
<body>
  <header id="header" class="header header-nav fixed-top align-items-center">
    <nav class="navbar-main">
      <div class="container-fluid">
        <div class="d-flex align-items-center justify-content-between">
          <a class="navbar-brand"><img src="../../../../assets/images/logo2.png" class="img-fluid" /></a>
          <ul class="d-flex header-nav">
            <li class="nav-item dropdown">
              <a class="nav-link nav-icon" href="Create_Requisition.html" data-bs-toggle="dropdown"> <i class="bi bi-bell"></i> <span class="badge bg-primary badge-number">4</span> </a>
              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
                <li class="dropdown-header"> You have 4 new notifications <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a></li>
                <li><hr class="dropdown-divider"></li>
                <li class="notification-item"> <i class="bi bi-exclamation-circle text-warning"></i><div><h4>Lorem Ipsum</h4><p>Quae dolorem earum veritatis oditseno</p><p>30 min. ago</p></div></li>
                <li><hr class="dropdown-divider"></li>
                <li class="notification-item"> <i class="bi bi-x-circle text-danger"></i><div><h4>Atque rerum nesciunt</h4><p>Quae dolorem earum veritatis oditseno</p><p>1 hr. ago</p></div></li>
                <li><hr class="dropdown-divider"></li>
                <li class="notification-item"> <i class="bi bi-check-circle text-success"></i><div><h4>Sit rerum fuga</h4><p>Quae dolorem earum veritatis oditseno</p><p>2 hrs. ago</p></div></li>
                <li><hr class="dropdown-divider"></li>
                <li class="notification-item"> <i class="bi bi-info-circle text-primary"></i><div><h4>Dicta reprehenderit</h4><p>Quae dolorem earum veritatis oditseno</p><p>4 hrs. ago</p></div></li>
                <li><hr class="dropdown-divider"></li>
                <li class="dropdown-footer"> <a href="#">Show all notifications</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown pe-3">
              <a class="nav-link nav-icon nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                <i class="bi bi-person-circle"></i> <span class="d-none d-md-block dropdown-toggle ps-2">Sweekrit P</span>
              </a>
              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                <li class="dropdown-header"><h6>Sweekrit P</h6> <span>Manager - Business Development</span></li>
                <li><hr class="dropdown-divider"></li>
                <li> <a class="dropdown-item d-flex align-items-center" href="/profile"> <i class="bi bi-person"></i> <span>My Profile</span> </a></li>
                <li><hr class="dropdown-divider"></li>
                <li> <a class="dropdown-item d-flex align-items-center" href="index.html"> <i class="bi bi-box-arrow-right"></i> <span>Sign Out</span> </a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <nav class="navbar navbar-dark navbar-expand-lg">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="Dashboard_Sales.html"><i class="bi bi-speedometer"></i></a>
            </li>
            <li class="nav-item">
              <!--<a class="nav-link" href="advance-search_Sales.html">Advanced Search</a>-->

            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/requisitions">Requisition</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="skills-list">Skills/Profile</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <main id="main">
    <div class="pagetitle">
      <div class="row">
        <div class="col-sm-6">
          <h1>Ratecard</h1>
        </div>
        <div class="col-sm-6 text-end">
          <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal"
                  data-bs-target="#addRatecardset">
            Add
          </button>

        </div>
      </div>
    </div>
    <section class="section">
      <div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-body">

              <div class="main-table">
                <div id="example_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
                  <div class="row">
                    <div class="col-sm-12 col-md-6">

                    </div>
                    <div class="col-sm-12 col-md-6">
                      <div id="example_filter" class="dataTables_filter">

                      </div>
                    </div>
                  </div>
                  <table class="table" style="width:100%" *ngIf="displaySkill && displaySkill.length>0">
                    <thead>
                      <!-- <tr *ngFor="let rat of selectedSkill.skillName"><h2>Name:{{rat}}</h2></tr> -->
                      <tr>
                        <h2>skill : <b style="color:black">{{GetSession()}}</b></h2>
                      </tr>
                      <tr>

                        <th><b>Minimum Year<br>of Experience</b></th>
                        <th><b>Maximum Year<br>of Experience</b></th>
                        <th><b>Rate Per<br> Hour USD</b></th>
                        <th><b>Action</b></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let rate of displaySkill">

                        <td> {{rate.minYrExperience}}</td>
                        <td> {{rate.maxYrExperience}}</td>
                        <td>
                          {{rate.ratePerHrUSD}}

                        </td>
                        <td>

                          <a class="me-3" data-bs-toggle="modal" (click)="setDeleteId(rate.rateCardId)" data-bs-target="#deleteResource">
                            <i class="bi text-danger bi-trash" data-toggle="tooltip" title="Delete"></i>
                          </a>

                        </td>

                      </tr>

                    </tbody>
                  </table>
                  <p *ngIf="!displaySkill || displaySkill.length <=0">No Rate card added for <b>{{GetSession()}}</b></p>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 col-md-5">

                </div>

              </div>

            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="col-sm-12 text-end">
      <button type="button" class="btn btn-secondary btn-sm"  
                             data-bs-target="example_wrapper" routerLink="/skills-list">
        back
      </button>

    </div>


  </main>


  <!--Delete-->



  <form #form="ngForm">

    <div class="modal fade" id="deleteResource" tabindex="-1" aria-labelledby="deleteResource" aria-hidden="true">

      <div class="modal-dialog modal-lg">

        <div class="modal-content">

          <div class="modal-header">

            <h5 class="modal-title" id="deleteResourcelabel">Delete Ratecard</h5>

            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

          </div>

          <div class="modal-body">

            <p>Are you sure to delete this?</p>

          </div>

          <div class="modal-footer">

            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>

            <button (click)="deleteRate()" class="btn btn-primary btnSubmit" data-bs-dismiss="modal"
                    data-bs-toggle="modal" data-bs-target="">
              Yes
            </button>

          </div>

        </div>

      </div>

    </div>

  </form>
  <footer>
    <div class="copyright">
      © 2022 Flatworld Edge All Rights Reserved.
    </div>
  </footer>
  </body>
</html>
