<div class="modal fade custom-modal-edit" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">

  <div class="modal-dialog">

    <div class="modal-content">

      <div class="modal-header">

        <h5 class="modal-title" id="exampleModalLabel">Edit Skills</h5>

        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

      </div>

      <div class="modal-body">

        <form #form="ngForm" (ngSubmit)="updateSkill()">

          <div class="mb-3">

            <label for="skill" class="col-form-label custom-label3">SkillName:</label>

            <input type="text" class="form-control" id="skill" name="name" [(ngModel)]="edit.skillName">

          </div>
          <div class="modal-footer">

            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

            <button type="button" (click)="updateSkill()" class="btn btn-primary">Update</button>

          </div>

        </form>

      </div>

    </div>

  </div>

</div>
